.button-situation {
    display: flex;
    align-items: center;

    gap: 16px;

    background-color:#E5E6E7;
    
    width: 100%;

    border-radius: 8px;
    border: none;

    text-decoration: none;

    padding: 8px 16px;
    cursor: pointer;
}
.button-situation.active {
    background-color: #F9B105;
}

.button-situation.active:hover{
    background-color: #deb045;
}

.button-situation:hover {
    background-color:#e2d5e2;
}

.button-situation:active {
    background-color:#c2a3c2;
}

.button-situation .image {
    width: 50px;
    height: 50px;
    border-radius: 8px;

    overflow: hidden;
}

.button-situation .image img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}
.button-situation .info-area{ 
    text-align: start;
    color: #333;
}


.button-situation .info-area .text {
    color: #333;
}
.button-situation .info-area .title {
    font-size: 16px;
}
.button-situation .info-area .subtitle {
    font-size: 12px;
}
