.text-area {
    margin-top: 80px;
}

.header-base {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;

    border-bottom: 1px solid #969696;
}
.logo-area path{
    fill: white;
}

@media screen and (max-width: 750px) {
    .header-base {
        flex-direction: column;
        padding: 20px 12px;
    }

    .header-base .title-header {
        margin-top: 20px;
    }
}