body.print {
    background-color: #fff;
}

body.print *{
    color: #1a1a1a;
}

body.print .buttons-area {
    display: none;
}

body.print .note-form {
    display: none;
}

body.print .note-table .input-note {
    background:none ;
    border: 1.5px solid #1a1a1a;
    color: #1a1a1a;
    box-shadow: none;
}
body.print .note-table .input-note.active {
    background-color: #b1b1b1;
    box-shadow: none;
}
body.print .note-table .button-note {
    display: none;
}
body.print .button-base {
    /* display: none; */
}

body.print .exit:hover {
    background: none;
}

body.print .aside-buttons {
    max-width: 200px;
}

body.print .logo-area path{
    fill: #1a1a1a;
}

body.print .note-table .note-area:nth-child(odd) {
    background: none ;
}